<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style> 
    #logo-name {
        font-family: sans-serif;
        font-weight: 500;
    }
    
    .navbar{
        font-family: sans-serif;
    }

    div.justified {
        display: flex;
        justify-content: center;
    }

    </style>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">

        <a id="logo-name" class="navbar-brand m-2" href="{% url 'gallery' %}">SharePics</a>
      
        <div class="collapse navbar-collapse px-4" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-2">

            <li class="nav-item px-3">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>

            <li class="nav-item px-1">
                <a class="nav-link" href="#">Multi Views</a>
            </li>

          </ul>
        </div>

        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav ms-auto m-3">

                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'add' %}" >
                        Upload
                        <img src="../../../static/picto/icon-uploader-4.png" width="18" height="18" class="d-inline-block align-top " alt="">
                        </a>
                  </li>

                <form class="form-inline" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </form>
            </ul>
        </div>

    </nav>  

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <div class="card my-2 mx-auto" style="height:auto; width:50rem;">

                    <img style="max-width: 100%; max-height: 100%" src="{{photo.image.url}}" class="d-block mx-auto" alt="Card image cap">
                    <div class="card-body">
                        <div class="justified">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
        
                                <div class="form-group">
                                    <textarea name="description" class="form-control" style="height : 70px; width : 600px">{{photo.description}} </textarea>
                                </div>
        
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a href="{% url 'photo' photo.id %}" class="btn btn-danger m-3">Cancel</a>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</body>
</html>